<div class="dashboard-container">
    <mat-card>
        <mat-card-title>{{ message }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
            @if (error) {
            <div class="error">{{ error }}</div>
            }
            <!-- Admin-only: Form to add a new item -->
            @if (userRole === 'admin') {
            <div>
                <h3>Add New Item</h3>
                <mat-form-field appearance="outline">
                    <mat-label>Policy Number</mat-label>
                    <input matInput [(ngModel)]="newPolicyNumber">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>customerId</mat-label>
                    <input matInput [(ngModel)]="newItemID">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Policy Type</mat-label>
                    <mat-select [(ngModel)]="newItemType">
                        <mat-option value="home">Home Insurance</mat-option>
                        <mat-option value="health">Health Insurance</mat-option>
                        <mat-option value="vehicle">Vehicle Insurance</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Select Satus</mat-label>
                    <mat-select [(ngModel)]="newItemStatus">
                        <mat-option value="Active">Active</mat-option>
                        <mat-option value="InActive">InActive</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="addItem()">Add Item</button>
            </div>
            }
        </mat-card-content>
    </mat-card>
</div>


<!-- If there are no items -->
<!-- <ng-template [ngIf]="!items?.length">
    <p>No items found.</p>
</ng-template> -->