.addPolicy {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.dashboard-container {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}

mat-card {
  width: 50%;
  max-width: 800px;
  padding: 20px;
}

.item-details {
  flex: 1;
}

.error {
  color: red;
}